@page "{restaurantId:int?}"
@model CoreDemo.Pages.Restaurants.ListModel
@{
}

<h4>Restaurants -</h4>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" id="example-search-input" asp-for="SearchTerm">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-primary"
                   asp-page="./Edit">
                    Create
                </a>
            </span>
        </div>
    </div>
</form>
@foreach (var item in Model.restaurantList)
{
    <partial name="SummaryPartial" model="item" />
}

@section footer{
    <div class="alert alert-info">This is List, Coming as Render Section</div>

}

