@page
@model CoreDemo.Pages.Restaurants.ListModel
@{
}

<h4>Restaurants -</h4>

<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Location</td>
        <td>Cusine</td>
    </tr>
    @foreach (var item in Model.restaurantList)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.Cusine</td>
        </tr>
    }
</table>
